

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.display-flex{
    display: flex;}

    /* dark 02 */
.text-gray{
    color: #424242;
}
/* dark o3 */
.text-light-gray{
color:#727272 ;
}

.btn-prm{
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    padding: 10px 15px;
    /* border-radius: 41px; */
    background: rgb(224, 44, 109);
}

/* navbar related style */

.brand{
    font-weight: 700;
    font-size: 1.5rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;}

    /* banner related style */
    .banner{
        justify-content: space-between;
        align-items:center;
    }
    

    .banner-content{
    max-width: 550px;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 30px;
}
   
.banner-title{
    font-weight: 700;
    font-size: 3rem;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}
/* image position relatable */
.image-container{
    position: relative;
    margin-top: 70px;
}
.bg-svg{
    position: absolute;
    top: -25px;
    left: 0;
    z-index: 1;
}
.banner-camera{
    position: relative;
    z-index: 2;
}
/* logo styles */
.image-box {
  max-width: 1110px;
  /* height: 110px; */
  border: 1px solid #ccc;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  margin: 69px auto 100px;
}

/* card collection */
.product-container{
    max-width: 1050px;
    margin: 0 auto;
}
.section-title{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}
.collection-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 30px;
}
.collection{
    width: 330px;
    height: 470px;
    text-align: left;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
    padding: 10px;
}
.card-image{
    width: 100%;
    border-radius: 10px;

}
.card h3{
    font-size: 1.8;
    font-weight: 500;
}
.card h4{
    font-size: 1.5rem;
    font-weight: 400;
}
.secondary-btn{
    /* max-width: 75px; */
    font-size: 1.25rem;
    font-weight: 700;
    color: deeppink;
    background-color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 50px;
    margin-bottom: 100px;
    /* text-align: left; */
    

}
/* btn left */

.btn-left{
    display: flex;
    justify-content: flex-end;
}
/* featured section */
.feature-section{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
     justify-content: space-between;
        align-items:center;
    
}
.feature-image{
    max-width: 404px;
}
.feature-description{
    max-width: 600px;
    
}
.feature-title{
    font-size: 2.25rem;
    font-weight: 700;
    /* text-align: left; */
    width: 100%;
}
.feature-paragraph{
    font-size: 1rem;
    font-weight: 700;
    /* text-align: left; */
    color: #727272;
}
/* footer section */
.footer-bg{
    background: rgb(10, 8, 38);
}
.footer-section{
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
}

/* responsive media query */
@media screen  and (max-width: 576px){
    .navbar, .nav-links{
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;

    }
    .image-box{
     width: 90%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    }
    .collection-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .feature-section{
        flex-direction: column-reverse;
        /* width: 100%; */
    }
    .feature-description{
        text-align: center;
        width: 100%;
    }
}